.ulstyle{

    list-style : circle !important;
    padding-left:20px !important;

}

.img-brown{

    width: 100px;
    height:90px;
}

/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

.pNews{

    text-indent: 1.5em !important;
    padding-bottom: 1em !important;
    margin: 0px !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
    text-align: justify !important;
}

.h1News{

    padding-bottom: 1em;
    margin: 0px;
    font-weight: normal;
    font-size: 2em;

}

.h2News{

    margin-bottom: 1em !important;
    margin-top: 1em !important;
    font-weight: normal;
}
.h3News{

    margin-bottom: 1em !important;
    margin-top: 1em !important;
    font-weight: normal;
}

.h1NewsDetail{

    font-size: 1.75em !important;
    padding-bottom: 1em;
    margin: 0px;
    font-weight: normal;
    font-size: 2em;
    line-height: 1;

}


/*style n-main__about*/
/*************************/
/*************************/
/*************************/

.n-main__about {
    padding: 40px 0;
}


.n-main__about-title {
    letter-spacing: .4px;
    font-size: 20px;
    font-family: 'Uni Sans Heavy CAPS', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #025da7;
    border-bottom: 1px solid #bdbdbd;
}

.n-main__about-text {
    font-size: 15px;
    color: #525252;
    text-align: left;
}

.n-main__about-text p {

}

.n-main__about-text a {
    color: #025da7;
    text-decoration: none;
}


@media screen and (max-width: 790px) {
    .n-main__about-title {
        text-align: left;
    }

    .n-main__about {
        padding: 34px 0 0;
    }
}












